<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina Gatos</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <main>
        <header>
            <h1> EJS Cats</h1>
        </header>
        <article>
            <section>
                <img id="cats" name ="gato1" src="img/gato1.jpg" alt="">
                <img id="cats" name ="gato2" src="img/gato2.jpg" alt="">
                <img id="cats" name ="gato3" src="img/gato3.jpg" alt="">
            </section>
        </article>
    </main>
    <script src="js/script.js"></script>
</body>

</html>